.container {
    margin-top: 10px;
}

.addButtonRow {
    margin: 5px;
}

.searchRow, .searchInput {
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 8px;
}

.searchRow {
    margin: 5px;
}

.searchLabel {
    margin-right: 10px;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title {
    font-size: 60px;
    color: #00A9FF;
    margin: 10px;
}

.tagline {
    color: #373A40;
    margin: 10px;
}

.redirectBtn {
    margin: 10px;
}

/* mobile */
@media screen and (max-width: 450px){
    .title {
        font-size: 40px;
    }

    .tagline {
        font-size: 18px;
    }

    .searchCol {
        margin-bottom: 10px;
    }
}